.grid {
    border: .125rem solid;
    text-align: justify;
    font-size: 0;
    padding: 4% 4% 0 4%
}

.box {
    font-size: 1rem;
    display: inline-block;
    background: #eee;
    border: .125em solid;
    width: 30%;
    padding: 2%
}

.break {
    display: inline-block;
    width: 30%;
    height: 0
}